services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: statcast_mssql
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Ssa!2025StrongPwd"  
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql

volumes:
  mssql_data:
